{% extends 'base.html' %} 
{% block content %}

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Lets Work Together</h1>
    <p class="lead"></p>
  </div>
</div>
<div class="container flex-grow">
<div class="row">
  {% for portfolio in portfolios %}
<div class="col-sm-6">
  <div class="card">
    <img class="card-img-top" src="{{ portfolio.image }}">
    <div class="card-body">
      <h5 class="card-title">{{ portfolio.title }}</h5>
      <p class="card-text">{{ portfolio.content }}</p>
    </div>
     </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
