{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block page_title %}About{% endblock %} 
{% block page_heading %}About{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">A little bit about Us</h1>
    <p class="lead"></p>
  </div>
</div>
<div class="container flex-grow">
<h3>Creative thinking with passion for your brand and user experience.</h3>
<p>We can help you with design and branding strategies. Let us show the world who you are through design.</p>
<p>It’s a competitive world out there, and making a good first impression is vital to communicating your objectives and establishing relationships with prospective clients. 
That is why developing a professional image and eye-catching materials is an essential part of an effective marketing strategy. 
Our design team works collaboratively to give your company an eye-catching brand to put you ahead of your competitors. 
From logos to print work to packaging, we deliver inspired, effective, intelligent work for your brand.</p>

<div class="card-group">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1528475775637-ed767f76e6b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gemma McManus</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">gemma@gds.com</small>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Martin Duffy</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">martin@gds.com</small>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1513732822839-24f03a92f633?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jennifer Sullivan</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">jennifer@gds.com</small>
    </div>
  </div>
</div>
</div>

{% endblock %}